<div class="row mt-2">
  <div class="col-12 col-md-6 text-right">
    <button class="btn btn-warning" (click)="logout()">Logout</button>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12 col-md-6">
    <h2>Add new user</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="userName">User Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            placeholder="User Name"
            formControlName="userName"
            required
          />
          <div
            *ngIf="userName.invalid && (userName.dirty || userName.touched)"
            class="text-danger"
          >
            <small *ngIf="userName.errors.required"
              >User name is required</small
            >
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input
            type="email"
            class="form-control"
            id="firstName"
            placeholder="First Name"
            formControlName="firstName"
            required
          />
          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="text-danger"
          >
            <small *ngIf="firstName.errors.required"
              >Fist name is required</small
            >
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input
            type="email"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
            required
          />
          <div
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="text-danger"
          >
            <small *ngIf="lastName.errors.required"
              >Last name is required</small
            >
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger"
          >
            <small *ngIf="password.errors.required">Password is required</small>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!userForm.valid || isLoading"
      >
        Save
      </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <h2>Users</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Avatar</th>
          <th scope="col">Username</th>
          <th scope="col">Fist name</th>
          <th scope="col">Last name</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <img
              [src]="
                'https://ui-avatars.com/api/?name=' +
                user.firstName +
                user.lastName
              "
              class="mr-2"
              style="width: 32px"
            />
          </td>
          <td>{{ user.userName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ getRole(user.role) }}</td>
        </tr>

        <div *ngIf="noResult">
          <span class="font-italic">There are no results!</span>
        </div>
      </tbody>
    </table>
  </div>
</div>
